
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    color: #ffffff;
    background-color: #0f253e;
}


.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    background: #011832
}

.logo {
    font-size: 30px;
    font-weight: 600;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
}

nav a:hover,
nav a.active {
    color: #F7C843;
}


.hero {
    width: 100%;
    padding-bottom: 60px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
    gap: 40px;
}

.hero-text {
    flex: 1;
}

.hero-content h2 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #F7C843;
}

.hero-content p {
    font-size: 20px;
    opacity: 0.9;
}

.btn {
    background: #ffca44;
    padding: 12px 28px;
    border-radius: 8px;
    color: #0f253e;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    margin-top: 15px;
    transition: 0.3s;
}

.btn:hover {
    background: #ffd76b;
}

.hero-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-img img {
    width: 100%;
    max-width: 300px;
    border-radius: 100px;
    border: 10px solid #f4b508;
    border-bottom-left-radius: 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}


.photo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 25px 60px;
    background: #08223A;
    flex-wrap: wrap;
}

.photo-card .text-box {
    flex: 1 1 300px;
    max-width: 400px;
    text-align: center;
}

.photo-card img {
    flex: 1 1 400px;
    max-width: 400px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.clickable-img {
    cursor: pointer;
    transition: 0.3s;
}

.clickable-img:hover {
    transform: scale(1.03);
}


.lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 60px;
    inset: 0;
    background: rgba(0,0,0,0.9);
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
    animation: zoom 0.3s ease;
}

.close {
    position: absolute;
    top: 25px;
    right: 40px;
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.close:hover {
    color: #F7C843;
}

@keyframes zoom {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1);   opacity: 1; }
}


.fade-in {
    animation: fadeIn 1.2s ease forwards;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to   { opacity: 1; transform: translateY(0); }
}


@media (max-width: 900px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .photo-card {
        flex-direction: column;
        padding: 20px;
    }
}
